$color-1: #5e27cdc7;
$color-2: #2a187c;
$header:#1E90FF;

$sub_color-1:#BDE0E0;
$sub_color-2:#63e1e6;
$sub_color-3:#f7bc98;
$sub_color-4:#D6ECCD;

$sub_balck: rgb(65, 59, 59);
$sub_whitw: rgb(95, 83, 83);