@font-face {
    font-family: AbyssinicaSIL;
    src: url(../font/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: Courgette;
    src: url(../font/FredokaOne-Regular.ttf);
}

@font-face {
    font-family:TiroBangla;
    src: url(../font/TiroBangla-Regular.ttf);
}

@font-face {
    font-family:TiroBangla;
    src: url(../font/TiroBangla-Regular.ttf);
}


    